*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #272525;
}
#body{
    height: 500px;
    width: 400px;
    background-color: black;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5%;
}
#image{
    height: 320px;
    width: 320px;
    background-image: url(https://images.unsplash.com/photo-1511379938547-c1f69419868d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    /* object-fit: cover;
    object-position: center; */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10%;
}
.bgimg{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1511379938547-c1f69419868d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.26);
}
#song-name{
   height: 100px; 
   width: 100%;
   position: absolute;
   top: 70%;
   padding: 10px 50px;
}
#song-name h3{
    font-size: 12px;
    font-weight: 100;
}
#song-name h2{
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
}
#line{
    height: 6px;
    width: 100%;
    background-color: #555454;
    border-radius: 200px;
    margin-top: 20px;
}
#circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 70%;
    left: 25%;
}
#circle:hover{
    scale: 1.1;
}

.controler h1{
    height: 15%;
    width: 100%;
    display: flex;
    position: absolute;
    top: 85%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.controler i {
    font-size: 20px;
    background-color: #2a2525;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: transform 0.2s; /* Optional for smooth effect */
}
.controler h1:hover{
    transform: scale(0.9);
}
.menu{
    height: 15%;
    width: 100%;
    display: flex;
    position: absolute;
    top: 85%;
    align-items: center;
    justify-content: space-evenly;
    gap: 70%;
}
.menu i{
    font-size: 15px;
    background-color: #2a2525;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.menu i:active{
    transform: scale(0.9);
}
